
<md-toolbar [color]="myColor">
  <span>The Save The World Tutorial!</span>
  <span class="md-toolbar-fill-remaining-space"></span>
  <a md-button [routerLink]="['']">Give</a>
  <a md-button [routerLink]="['request']">Suggest A Charity</a>
  <a md-button [routerLink]="['tutorial']">Tutorial</a>
</md-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="img-container">
    <a target="_blank" href="https://scaphold.io"><img src="img/logo-white-90x90.jpg" alt="Scaphold"></a>
  </div>
  <h4>Brought to you by <a target="_blank" [href]="url">scaphold.io</a></h4>
</footer>
