// styles in src/style directory are applied to the whole page
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* { box-sizing: border-box; }
body {
    // background: #e9ebee;
    color: #000;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url(../public/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    cursor: pointer;
}
.panel {
    margin: 15px;
    padding: 15px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    background: white;
}

md-card {
    background:rgba(255,255,255,0.96)!important;
    margin-bottom: 10px;

    md-card-content {
        font-size: 15px;
    }
}

.alert-danger {
    border-radius: 3px;
    background-color: #d9534f;
    padding: 3px 10px;
    margin: 0 0 15px 0;
}

.center {
    text-align: center;
}