<div class="home container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <section>
        <md-card>
          <md-card-title>
            Welcome to the <a target="_blank" href="https://scaphold.io/blog/2016/07/17/api-for-charity.html">"Save The World" tutorial</a>!
          </md-card-title>
          <md-card-content>
            <p>
              This is an example of an application that you can build on Scaphold.io. 
              We built it with Angular2, Apollo Client, Webpack, and powered it with <a target="_blank" href="https://scaphold.io">Scaphold's</a> GraphQL platform!
              If you are interested in learning more about how we built this site, check out our <a target="_blank" href="https://scaphold.io/blog">full tutorial</a>!
            </p>
            <p>
              This site is the real deal. At the end of the month, we will donate every penny that you give via this site to the
              charity of your choice! We use Scaphold's <a target="_blank" href="https://www.stripe.com">Stripe</a> integration to securely process payments,
              <a target="_blank" href="https://www.mailgun.com">Mailgun</a> integration to send thank you notes, and permission system to protect our data from
              from unwanted eyes.
            </p>
            <p>
              If you would like a charity added to this list, suggest it using using the link in the top right!
              We curate the set of charities to guarantee they are high quality organizations but would love to add your favorites! 
            </p>
            <b>Thank you for your giving! Please let us know if we can do anything else to make your experience a little better!</b>
          </md-card-content>
        </md-card>
      </section>
      <section>
        <donation-form></donation-form>
      </section>
    </div>
    <div class="col-md-4 col-sm-12">
      <donation-list></donation-list>
    </div>
  </div>
</div>